a.fancybox{cursor:zoom-in!important}

.fig-img{margin:2px auto}
.figure.clear{clear:both}
.figure.center{width:calc(100% - 4px)}
.figure.fig-20,.figure.fig-25,.figure.fig-33,.figure.fig-50,.figure.fig-75,
.figure.left{float:left;margin:2px}
.figure.right{float:right;margin:2px}
.figure.fig-20{width:calc(20% - 4px)}
.figure.fig-25{width:calc(25% - 4px)}
.figure.fig-33{width:calc(33.3% - 4px)}
.figure.fig-50{width:calc(50% - 4px)}
.figure.fig-75{width:calc(75% - 4px)}
.figure.fig-100{width:calc(100% - 4px);margin:2px}
.figure.figure--fullWidth{width:100%}
