a.fancybox{cursor:zoom-in!important}

.fig-img{margin:2px auto}
.figure.clear{clear:both}
.figure.center{width:calc(100% - 4px)}
.figure.fig-20,.figure.fig-25,.figure.fig-33,.figure.fig-50,.figure.fig-75,
.figure.left{float:left;margin:2px}
.figure.right{float:right;margin:2px}
.figure.fig-20{width:calc(20% - 4px)}
.figure.fig-25{width:calc(25% - 4px)}
.figure.fig-33{width:calc(33.3% - 4px)}
.figure.fig-50{width:calc(50% - 4px)}
.figure.fig-75{width:calc(75% - 4px)}
.figure.fig-100{width:calc(100% - 4px);margin:2px}
.figure.figure--fullWidth{width:100%}

table{background:0 0;border-collapse:collapse;border-spacing:0;text-align:left;width:100%}
table th{border-bottom:2px solid #909ba2;font-weight:700;padding:5px 10px}
table tr:nth-child(2n){background:#e6e6ff}

.highlight-text{display:inline;padding:3px}
.highlight-text.red{background-color:#ffe6e6}
.highlight-text.green{background-color:#cdffcd}
.highlight-text.blue{background-color:#e6e6ff}
.highlight-text.purple{background-color:#ffe6ff}
.highlight-text.orange{background-color:#ffedcc}
.highlight-text.yellow{background-color:#ffc}
.highlight-text.cyan{background-color:#cff}
.highlight-text.primary{background-color:#ddeffd}
.highlight-text.success{background-color:#d4f1d7}
.highlight-text.warning{background-color:#fdeece}
.highlight-text.danger{background-color:#fee3e0}


.alert{position:relative;text-align:left;padding:10px 15px;min-height:30px;border:none;border-left:3px solid}
.alert:not(.no-icon) {padding-left:55px}
.alert:not(.no-icon):before {position:absolute;top:10px;left:15px;font-family:FontAwesome;font-size:17px}
.alert p{margin:1.5em 0 0}
.alert p:first-child{margin:0}
.alert.info{border-color:#349ef3;background-color:#e6f3fe}
.alert.info:not(.no-icon):before{content:"\f05a";color:#349ef3}
.alert.success{border-color:#4dc657;background-color:#effaf0;content:"\f058"}
.alert.success:not(.no-icon):before{content:"\f058";color:#4dc657}
.alert.warning{border-color:#f5aa0a;background-color:#fdf1d8}
.alert.warning:not(.no-icon):before{content:"\f071";color:#f5aa0a}
.alert.danger{border-color:#f5311d;background-color:#feecea}
.alert.danger:not(.no-icon):before{content:"\f05e";color:#f5311d}

code,pre>code{font-family:Menlo,Consolas,monospace}
code{font-size:17px;font-weight:400;padding:0 5px;background-color:#f7f8f8;display:inline-block;}
pre>code{width:100%;background:#f7f8f8;color:#333;display:block;box-sizing:border-box;padding:15px;border:none;margin:0;cursor:text;overflow-x:auto;line-height:1.8;font-size:17px}
pre.code-highlight>code{padding:0;margin:0;line-height:inherit}
pre>code.codeblock{overflow-x:auto}
.codeblock,.codeblock .gutter,figure.highlight,figure.highlight .gutter{line-height:1.8;background:#f7f8f8}
.codeblock .code,.codeblock .gutter,.post,figure.highlight .code,figure.highlight .gutter{vertical-align:top}
.codeblock,figure.highlight{margin:5px 0;line-height:1.8;padding-top:5px;padding-bottom:5px;overflow:hidden}
.codeblock table,figure.highlight table{display:block;width:100%}
.codeblock .code,.codeblock .gutter,.codeblock .tag,.codeblock pre,figure.highlight .code,figure.highlight .gutter,figure.highlight .tag,figure.highlight pre{background-color:inherit;font-family:Menlo,Consolas,monospace;border:none;padding:0;margin:0;cursor:text;line-height:1.8;font-size:17px}
.codeblock.plain .gutter,figure.highlight.plain .gutter{display:none}
.codeblock figcaption,figure.highlight figcaption{font-size:15px;padding:0 17px 20px;margin:0}
.codeblock figcaption a,figure.highlight figcaption a{float:right}
.codeblock .gutter,figure.highlight .gutter{border-right:1px solid;padding:5px 15px;line-height:1.8;font-size:17px}
.codeblock .gutter pre,figure.highlight .gutter pre{color:#aaa}
.codeblock .code,figure.highlight .code{padding:5px 15px 5px 12px;width:100%}
.codeblock .code pre,figure.highlight .code pre{line-height:1.8;font-size:17px;max-width:calc(750px - 50px);overflow-x:auto;overflow-y:hidden}
.codeblock .line,figure.highlight .line{height:1.8;font-size:17px}
.codeblock,figure.highlight{color:#333}
.codeblock figcaption,figure.highlight figcaption{background:#f7f8f8;color:#999}
.codeblock .gutter,figure.highlight .gutter{border-right-color:#e6e6e6}
.codeblock .gutter .line,figure.highlight .gutter .line{color:#aaa}
.codeblock .comment,figure.highlight .comment{color:#969896}
.codeblock .string,figure.highlight .string{color:#183691}
.codeblock .keyword,figure.highlight .keyword{color:#a71d5d}
.codeblock--tabbed figcaption .tab.active{background:#349ef3;color:#fff}
.codeblock--tabbed figure.highlight{text-rendering: optimizelegibility;letter-spacing: -.3px;overflow: hidden;margin: 10px 0 0 0;padding:0 0 0 0;width: 100%}
.codeblock--tabbed pre>code{margin-bottom:0;padding-bottom:0}
.codeblock--tabbed figcaption a,.codeblock--tabbed figcaption span{float:left!important}
.codeblock--tabbed figcaption .tabs{float:right}
.codeblock--tabbed figcaption .tabs .tab{cursor:pointer;display:inline-block;margin:0 5px;padding:0 7px}
.codeblock--tabbed figcaption .tabs .tab:last-child{margin-right:0}

.codeblock.apacheconf .code .attribute,.codeblock.apacheconf .code .cbracket,.codeblock.apacheconf .code .common,.codeblock.apacheconf .code .keyword,.codeblock.apacheconf .code .nomarkup,.codeblock.apacheconf .code .variable,figure.highlight.apacheconf .code .attribute,figure.highlight.apacheconf .code .cbracket,figure.highlight.apacheconf .code .common,figure.highlight.apacheconf .code .keyword,figure.highlight.apacheconf .code .nomarkup,figure.highlight.apacheconf .code .variable{color:#0086b3}
.codeblock.apacheconf .code .sqbracket,figure.highlight.apacheconf .code .sqbracket{color:#df5000}
.codeblock.apacheconf .code .section,.codeblock.apacheconf .code .tag,figure.highlight.apacheconf .code .section,figure.highlight.apacheconf .code .tag{color:#63a35c}
.codeblock.bash .code .shebang,figure.highlight.bash .code .shebang{color:#969896}
.codeblock.bash .code .built_in,.codeblock.bash .code .literal,figure.highlight.bash .code .built_in,figure.highlight.bash .code .literal{color:#0086b3}
.codeblock.bash .code .variable,figure.highlight.bash .code .variable{color:#333}
.codeblock.bash .code .title,.codeblock.coffeescript .code .title,figure.highlight.bash .code .title,figure.highlight.coffeescript .code .title{color:#795da3}
.codeblock.coffeescript .code .built_in,.codeblock.coffeescript .code .literal,.codeblock.coffeescript .code .number,figure.highlight.coffeescript .code .built_in,figure.highlight.coffeescript .code .literal,figure.highlight.coffeescript .code .number{color:#0086b3}
.codeblock.coffeescript .code .attribute,.codeblock.coffeescript .code .reserved,figure.highlight.coffeescript .code .attribute,figure.highlight.coffeescript .code .reserved{color:#1d3e81}
.codeblock.c .code .preprocessor,.codeblock.coffeescript .code .attribute,.codeblock.coffeescript .code .regexp,.codeblock.coffeescript .code .subst,.codeblock.cpp .code .preprocessor,figure.highlight.c .code .preprocessor,figure.highlight.coffeescript .code .attribute,figure.highlight.coffeescript .code .regexp,figure.highlight.coffeescript .code .subst,figure.highlight.cpp .code .preprocessor{color:#df5000}
.codeblock.c .code .meta-keyword,.codeblock.cpp .code .meta-keyword,figure.highlight.c .code .meta-keyword,figure.highlight.cpp .code .meta-keyword{color:#a71d5d}
.codeblock.c .code .title,.codeblock.cpp .code .title,figure.highlight.c .code .title,figure.highlight.cpp .code .title{color:#795da3}
.codeblock.c .code .built_in,.codeblock.c .code .number,.codeblock.cpp .code .built_in,.codeblock.cpp .code .number,figure.highlight.c .code .built_in,figure.highlight.c .code .number,figure.highlight.cpp .code .built_in,figure.highlight.cpp .code .number{color:#0086b3}
.codeblock.cs .code .preprocessor,.codeblock.cs .code .preprocessor .keyword,figure.highlight.cs .code .preprocessor,figure.highlight.cs .code .preprocessor .keyword{color:#333}
.codeblock.cs .code .title,figure.highlight.cs .code .title{color:#795da3}
.codeblock.cs .code .built_in,.codeblock.cs .code .number,figure.highlight.cs .code .built_in,figure.highlight.cs .code .number{color:#0086b3}
.codeblock.cs .code .doctag,.codeblock.cs .code .xmlDocTag,figure.highlight.cs .code .doctag,figure.highlight.cs .code .xmlDocTag{color:#63a35c}
.codeblock.css .code .at_rule,.codeblock.css .code .important,.codeblock.css .code .meta,figure.highlight.css .code .at_rule,figure.highlight.css .code .important,figure.highlight.css .code .meta{color:#a71d5d}
.codeblock.css .code .attribute,.codeblock.css .code .function,.codeblock.css .code .hexcolor,.codeblock.css .code .number,figure.highlight.css .code .attribute,figure.highlight.css .code .function,figure.highlight.css .code .hexcolor,figure.highlight.css .code .number{color:#0086b3}
.codeblock.css .code .attr_selector,.codeblock.css .code .value,figure.highlight.css .code .attr_selector,figure.highlight.css .code .value{color:#333}
.codeblock.css .code .class,.codeblock.css .code .id,.codeblock.css .code .pseudo,.codeblock.css .code .selector-pseudo,figure.highlight.css .code .class,figure.highlight.css .code .id,figure.highlight.css .code .pseudo,figure.highlight.css .code .selector-pseudo{color:#795da3}
.codeblock.css .code .selector-tag,.codeblock.css .code .tag,figure.highlight.css .code .selector-tag,figure.highlight.css .code .tag{color:#63a35c}
.codeblock.diff .code .chunk,.codeblock.diff .code .meta,figure.highlight.diff .code .chunk,figure.highlight.diff .code .meta{color:#795da3;font-weight:700}
.codeblock.diff .code .addition,figure.highlight.diff .code .addition{color:#55a532;background-color:#eaffea}
.codeblock.diff .code .deletion,figure.highlight.diff .code .deletion{color:#bd2c00;background-color:#ffecec}.codeblock.http .code .attr,.codeblock.http .code .attribute,figure.highlight.http .code .attr,figure.highlight.http .code .attribute{color:#183691}
.codeblock.http .code .literal,figure.highlight.http .code .literal{color:#0086b3}
.codeblock.http .code .request,figure.highlight.http .code .request{color:#a71d5d}
.codeblock.ini .code .section,.codeblock.ini .code .title,figure.highlight.ini .code .section,figure.highlight.ini .code .title{color:#795da3}
.codeblock.ini .code .attr,.codeblock.ini .code .setting,figure.highlight.ini .code .attr,figure.highlight.ini .code .setting{color:#a71d5d}
.codeblock.ini .code .keyword,.codeblock.ini .code .value,figure.highlight.ini .code .keyword,figure.highlight.ini .code .value{color:#333}
.codeblock.java .code .title,figure.highlight.java .code .title{color:#795da3}
.codeblock.java .code .javadoc,figure.highlight.java .code .javadoc{color:#969896}
.codeblock.java .code .annotation,.codeblock.java .code .javadoctag,.codeblock.java .code .meta,figure.highlight.java .code .annotation,figure.highlight.java .code .javadoctag,figure.highlight.java .code .meta{color:#a71d5d}
.codeblock.java .code .number,figure.highlight.java .code .number{color:#0086b3}
.codeblock.java .code .params,figure.highlight.java .code .params{color:#1d3e81}
.codeblock.js .code .built_in,.codeblock.js .code .title,figure.highlight.js .code .built_in,figure.highlight.js .code .title{color:#795da3}
.codeblock.js .code .javadoc,figure.highlight.js .code .javadoc{color:#969896}
.codeblock.js .code .javadoctag,.codeblock.js .code .tag,figure.highlight.js .code .javadoctag,figure.highlight.js .code .tag{color:#a71d5d}
.codeblock.js .code .tag .title,figure.highlight.js .code .tag .title{color:#333}
.codeblock.js .code .regexp,figure.highlight.js .code .regexp{color:#df5000}
.codeblock.js .code .literal,.codeblock.js .code .number,figure.highlight.js .code .literal,figure.highlight.js .code .number{color:#0086b3}
.codeblock.json .code .attribute,figure.highlight.json .code .attribute{color:#183691}
.codeblock.json .code .literal,.codeblock.json .code .number,figure.highlight.json .code .literal,figure.highlight.json .code .number{color:#0086b3}
.codeblock.mak .code .constant,figure.highlight.mak .code .constant{color:#333}
.codeblock.mak .code .title,figure.highlight.mak .code .title{color:#795da3}
.codeblock.mak .code .keyword,.codeblock.mak .code .meta-keyword,figure.highlight.mak .code .keyword,figure.highlight.mak .code .meta-keyword{color:#0086b3}
.codeblock.md .code .blockquote,.codeblock.md .code .emphasis,.codeblock.md .code .link_label,.codeblock.md .code .quote,.codeblock.md .code .section,.codeblock.md .code .strong,.codeblock.md .code .value,figure.highlight.md .code .blockquote,figure.highlight.md .code .emphasis,figure.highlight.md .code .link_label,figure.highlight.md .code .quote,figure.highlight.md .code .section,figure.highlight.md .code .strong,figure.highlight.md .code .value{color:#183691}
.codeblock.md .code .code,.codeblock.md .code .link_reference,.codeblock.md .code .symbol,figure.highlight.md .code .code,figure.highlight.md .code .link_reference,figure.highlight.md .code .symbol{color:#0086b3}
.codeblock.md .code .link,.codeblock.md .code .link_url,figure.highlight.md .code .link,figure.highlight.md .code .link_url{text-decoration:underline}
.codeblock.nginx .code .attribute,.codeblock.nginx .code .title,figure.highlight.nginx .code .attribute,figure.highlight.nginx .code .title{color:#a71d5d}
.codeblock.nginx .code .built_in,.codeblock.nginx .code .literal,figure.highlight.nginx .code .built_in,figure.highlight.nginx .code .literal{color:#0086b3}
.codeblock.nginx .code .regexp,figure.highlight.nginx .code .regexp{color:#183691}
.codeblock.nginx .code .variable,figure.highlight.nginx .code .variable{color:#333}
.codeblock.objectivec .code .meta,.codeblock.objectivec .code .preprocessor,figure.highlight.objectivec .code .meta,figure.highlight.objectivec .code .preprocessor{color:#a71d5d}
.codeblock.objectivec .code .meta .title,.codeblock.objectivec .code .preprocessor .title,figure.highlight.objectivec .code .meta .title,figure.highlight.objectivec .code .preprocessor .title{color:#df5000}
.codeblock.objectivec .code .meta-string,figure.highlight.objectivec .code .meta-string{color:#183691}
.codeblock.objectivec .code .title,figure.highlight.objectivec .code .title{color:#795da3}
.codeblock.objectivec .code .built_in,.codeblock.objectivec .code .literal,.codeblock.objectivec .code .number,figure.highlight.objectivec .code .built_in,figure.highlight.objectivec .code .literal,figure.highlight.objectivec .code .number{color:#0086b3}
.codeblock.perl .code .sub,.codeblock.perl .code .title,figure.highlight.perl .code .sub,figure.highlight.perl .code .title{color:#795da3}
.codeblock.perl .code .regexp,figure.highlight.perl .code .regexp{color:#df5000}
.codeblock.php .code .doctag,.codeblock.php .code .phpdoc,figure.highlight.php .code .doctag,figure.highlight.php .code .phpdoc{color:#a71d5d}
.codeblock.php .code .regexp,figure.highlight.php .code .regexp{color:#df5000}
.codeblock.php .code .literal,.codeblock.php .code .number,figure.highlight.php .code .literal,figure.highlight.php .code .number{color:#0086b3}
.codeblock.php .code .title,.codeblock.python .code .decorator,.codeblock.python .code .meta,.codeblock.python .code .title,figure.highlight.php .code .title,figure.highlight.python .code .decorator,figure.highlight.python .code .meta,figure.highlight.python .code .title{color:#795da3}
.codeblock.python .code .number,figure.highlight.python .code .number{color:#0086b3}
.codeblock.ruby .code .parent,.codeblock.ruby .code .title,figure.highlight.ruby .code .parent,figure.highlight.ruby .code .title{color:#795da3}
.codeblock.ruby .code .constant,.codeblock.ruby .code .number,.codeblock.ruby .code .prompt,.codeblock.ruby .code .subst .keyword,.codeblock.ruby .code .symbol,figure.highlight.ruby .code .constant,figure.highlight.ruby .code .number,figure.highlight.ruby .code .prompt,figure.highlight.ruby .code .subst .keyword,figure.highlight.ruby .code .symbol{color:#0086b3}
.codeblock.sql .built_in,figure.highlight.sql .built_in{color:#a71d5d}
.codeblock.sql .number,figure.highlight.sql .number{color:#0086b3}
.codeblock.html .tag,.codeblock.xml .tag,figure.highlight.html .tag,figure.highlight.xml .tag{color:#333}
.codeblock.html .value,.codeblock.xml .value,figure.highlight.html .value,figure.highlight.xml .value{color:#183691}
.codeblock.html .attr,.codeblock.html .attribute,.codeblock.xml .attr,.codeblock.xml .attribute,figure.highlight.html .attr,figure.highlight.html .attribute,figure.highlight.xml .attr,figure.highlight.xml .attribute{color:#795da3}
.codeblock.html .name,.codeblock.html .title,.codeblock.xml .name,.codeblock.xml .title,figure.highlight.html .name,figure.highlight.html .title,figure.highlight.xml .name,figure.highlight.xml .title{color:#63a35c}
.codeblock.puppet .title,figure.highlight.puppet .title{color:#795da3}
.codeblock.puppet .function,figure.highlight.puppet .function{color:#0086b3}
.codeblock.puppet .name,figure.highlight.puppet .name{color:#a71d5d}
.codeblock.puppet .attr,figure.highlight.puppet .attr{color:#0086b3}
.codeblock.less .at_rule,.codeblock.less .tag,figure.highlight.less .at_rule,figure.highlight.less .tag{color:#a71d5d}
.codeblock.less .attribute,.codeblock.less .function,.codeblock.less .hexcolor,.codeblock.less .number,figure.highlight.less .attribute,figure.highlight.less .function,figure.highlight.less .hexcolor,figure.highlight.less .number{color:#0086b3}
.codeblock.less .built_in,figure.highlight.less .built_in{color:#df5000}
.codeblock.less .class,.codeblock.less .id,.codeblock.less .pseudo,.codeblock.less .selector-class,.codeblock.less .selector-id,.codeblock.less .selector-tag,figure.highlight.less .class,figure.highlight.less .id,figure.highlight.less .pseudo,figure.highlight.less .selector-class,figure.highlight.less .selector-id,figure.highlight.less .selector-tag{color:#795da3}
.codeblock.scss .at_rule,.codeblock.scss .important,.codeblock.scss .tag,figure.highlight.scss .at_rule,figure.highlight.scss .important,figure.highlight.scss .tag{color:#a71d5d}
.codeblock.scss .attribute,.codeblock.scss .function,.codeblock.scss .hexcolor,.codeblock.scss .number,figure.highlight.scss .attribute,figure.highlight.scss .function,figure.highlight.scss .hexcolor,figure.highlight.scss .number{color:#0086b3}
.codeblock.scss .variable,figure.highlight.scss .variable{color:#333}
.codeblock.scss .built_in,figure.highlight.scss .built_in{color:#df5000}
.codeblock.scss .class,.codeblock.scss .id,.codeblock.scss .preprocessor,.codeblock.scss .pseudo,.codeblock.scss .selector-class,.codeblock.scss .selector-id,figure.highlight.scss .class,figure.highlight.scss .id,figure.highlight.scss .preprocessor,figure.highlight.scss .pseudo,figure.highlight.scss .selector-class,figure.highlight.scss .selector-id{color:#795da3}
.codeblock.scss .selector-tag,.codeblock.scss .tag,figure.highlight.scss .selector-tag,figure.highlight.scss .tag{color:#63a35c}
.codeblock.stylus .at_rule,figure.highlight.stylus .at_rule{color:#a71d5d}
.codeblock.stylus .selector-tag,.codeblock.stylus .tag,figure.highlight.stylus .selector-tag,figure.highlight.stylus .tag{color:#63a35c}.codeblock.stylus .attribute,.codeblock.stylus .hexcolor,.codeblock.stylus .number,.codeblock.stylus .params,figure.highlight.stylus .attribute,figure.highlight.stylus .hexcolor,figure.highlight.stylus .number,figure.highlight.stylus .params{color:#0086b3}
.codeblock.stylus .class,.codeblock.stylus .id,.codeblock.stylus .pseudo,.codeblock.stylus .selector-class,.codeblock.stylus .selector-id,.codeblock.stylus .selector-pseudo,.codeblock.stylus .title,figure.highlight.stylus .class,figure.highlight.stylus .id,figure.highlight.stylus .pseudo,figure.highlight.stylus .selector-class,figure.highlight.stylus .selector-id,figure.highlight.stylus .selector-pseudo,figure.highlight.stylus .title{color:#795da3}
.codeblock.go .typename,figure.highlight.go .typename{color:#a71d5d}
.codeblock.go .built_in,.codeblock.go .constant,figure.highlight.go .built_in,figure.highlight.go .constant{color:#0086b3}
.codeblock.swift .preprocessor,figure.highlight.swift .preprocessor{color:#a71d5d}
.codeblock.swift .title,figure.highlight.swift .title{color:#795da3}
.codeblock.swift .built_in,.codeblock.swift .number,.codeblock.swift .type,figure.highlight.swift .built_in,figure.highlight.swift .number,figure.highlight.swift .type{color:#0086b3}
.codeblock.yml .line .attr,figure.highlight.yml .line .attr{color:#63a35c}
.codeblock.yml .line,.codeblock.yml .literal,.codeblock.yml .meta,.codeblock.yml .string,.codeblock.yml .type,figure.highlight.yml .line,figure.highlight.yml .literal,figure.highlight.yml .meta,figure.highlight.yml .string,figure.highlight.yml .type{color:#183691}
.codeblock.yml .number,figure.highlight.yml .number{color:#0086b3}




                           






