{{ "<!-- footer -->" | safeHTML }}
<footer class="section bg-gray pb-0">
  <div class="container">
    <div class="row">
      <div class="col-md-8 text-md-left text-center">
       {{ with .Site.Params.copyright }} <p>{{ .}}</p> {{ end }}
      </div>
      <div class="col-md-4 text-md-right text-center">
        <ul class="list-inline mb-3">
          {{ range .Site.Params.socialIcon }}
          <li class="list-inline-item"><a class="text-color d-inline-block p-2" href="{{ .URL | absURL}}"><i class="fa {{ .icon }}"></i></a></li>
          {{ end }}
          <li id="backtop" class="list-inline-item"><a class="text-color d-inline-block p-2" href="#"><i class="fa fa-chevron-up"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
{{ "<!-- /footer -->" | safeHTML }}



{{ "<!-- Main Script -->" | safeHTML }}
{{ $script := resources.Get "js/script.js" | minify}}
<script src="{{ $script.Permalink }}"></script>


{{ "<!--fancybox -->" | safeHTML }}
{{ $script := resources.Get "js/fancybox.js" | minify}}
<script src="{{ $script.Permalink }}"></script>

{{ "<!--gotop -->" | safeHTML }}
{{ $script := resources.Get "js/gotop.js" | minify}}
<script src="{{ $script.Permalink }}"></script>

{{ "<!--custom -->" | safeHTML }}
{{ $script := resources.Get "js/custom.js" | minify}}
<script src="{{ $script.Permalink }}"></script>

</body>

</html>